@page
@model Movie.App.Pages.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<div class="container">
    <h2>Registration</h2>
    <form method="post">
        <div class="form-group">
            <label asp-for="Registration.Email"></label>
            <input asp-for="Registration.Email" class="form-control form-control-sm" />
            <span asp-validation-for="Registration.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Registration.Password"></label>
            <input asp-for="Registration.Password" type="password" class="form-control form-control-sm" />
            <span asp-validation-for="Registration.Password" class="text-danger"></span>


        </div>
        <div class="form-group">
            <label asp-for="Registration.Name"></label>
            <input asp-for="Registration.Name" class="form-control form-control-sm" />
            <span asp-validation-for="Registration.Name" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="Registration.DateOfBirth"></label>
            <input asp-for="Registration.DateOfBirth" type="date" class="form-control form-control-sm" />
            <span asp-validation-for="Registration.DateOfBirth" class="text-danger"></span>

        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>